@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body
{
    background-color: #F2EFEF;
    font-family: 'Varela Round', sans-serif;
}

section
{
    margin-top: 30px;
}

.header
{
justify-content: center;
font-family: 'Varela Round', sans-serif;
}

.display-4
{
margin-top: 35px;
color: #EC6D6A;
}

.lead
{
margin-top: 30px;
color: #EC6D6A;
}

.toto
{
    padding:20px;
    font-size: 3em;
}

.souligne
{
    font-weight:bold;
    text-decoration: underline;
    padding-top: 10px;
}
.modale
{
    padding: 10px;
}

.bouton
{
    color: #FF8A8E;
    border-radius: 5px;
    background-color: #F2EFEF;
    border: solid 2px #FF8A8E;
}

.bouton a
{
    text-decoration: none;
    color: #FF8A8E;
    font-size:2em;
}

.bouton a:hover
{
    text-decoration: none;
    color: #FF8A8E;
}

.bouton:hover
{
    border: solid 2px #FF8A8E;
}



footer
{
margin-top: 30px;
font-family: 'Varela Round', sans-serif;

}

.contact
{
padding-top: 15px;
}

.card text-center
{
background-color: #E9ECEF;
}

.jumbotron
{
    background-color: #424344;
 
}

.btn-primary
{
    background-color: #FF8A8E;
    border: none;
    font-size: 1.4em;
}

.imagebox
{
    max-width: 110px;
}

.wcs
{
    color: #FF5A5C;
}

.logomodal
{
    max-width: 110px;
}