body
{
    background-color: #F2EFEF;
}

section
{
    margin-top: 30px;
}

.header
{
justify-content: center;
}

.display-4
{
margin-top: 35px;
color: #EC6D6A;
}

.lead
{
margin-top: 30px;
color: #EC6D6A;
}

.intertitre
{
    padding:20px;
    font-size: 2.8em;
}

.souligne
{
    font-weight:bold;
    text-decoration: underline;
    padding-top: 10px;
}
.modale
{
    padding: 10px;
}

.bouton
{
    color: #FF8A8E;
    
    border-radius: 5px;
    background-color: #F2EFEF;
    border: solid 2px #FF8A8E;
}

.bouton a
{
    text-decoration: none;
    color: #FF8A8E;
    font-size:2em;
}

.bouton a:hover
{
    text-decoration: none;
   color: white;
}

a:hover 
{
    background-color: #FF8A8E;
    border: solid 2px #FF8A8E;
    border-radius: 5px;
}

.bouton:hover
{
    border: none;
}

footer
{
margin-top: 30px;
}

.contact
{
padding-top: 15px;
}

.card text-center
{
background-color: #E9ECEF;
}
.jumbotron
{
    background-color: #424344;
 
}

.btn-primary
{
    background-color: #FF8A8E;
    border: none;
    font-size: 1.4em;
}
.btn-primary:hover
{
background-color: #f7a5ab;
border: none;
}
.imagebox
{
    max-width: 110px;
}

.test
{
    max-width: 80%;
}